.arrow-banner {
    position: absolute;
    font-size: 60px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 2.5vw;
    color: #fff;
    transition: 0.3s all;
}

.arrow-banner:hover {
    transition: 0.3s all;
    color: #ffdcdc;
}

.arrow-left {
    transform: rotate(-90deg);
    right: 2.5vw;
    background: red;
}