.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
}

.gallery .gallery-card {
    height: 340px;
    width: 340px;
    background: #FF6060;
    border-radius: 10px;
}