.title-and-host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

.tag-and-rate-zone {
    margin: 15px 40px 0;
    display: flex;
    justify-content: space-between;
}

.tag-zone {
    display: flex;
}

.rate-zone {
    display: flex;
}

.description-zone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.description-zone li {
    width: 48%;
    list-style: none;
}

.description-zone li div .description {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.description-zone li div .description span {
    width: 100%;
}